
# microchip-packs
/microchip-packs

# vscode config
/.vscode

# /
/aclocal.m4
/depcomp
/config.guess
/config.h.in
/config.sub
/configure
/install-sh
/missing
/mkinstalldirs
/Makefile.in
/avr
/autom4te.cache
/*.diff
/*.patch

# /common/
/common/Makefile.in
/common/*.diff
/common/*.patch

# /crt1/
/crt1/Makefile.in

# /devtools/
/devtools/Makefile.in
/devtools/*.diff
/devtools/*.patch

# /doc/
/doc/Makefile.in

# /doc/api/
/doc/api/Makefile.in

# /doc/examples/
/doc/examples/Makefile.in

# /include/
/include/Makefile.in
/include/*.diff
/include/*.patch

# /include/avr/
/include/avr/Makefile.in
/include/avr/*.diff
/include/avr/*.patch

# /include/avr/legacyio
/include/avr/legacyio/Makefile.in
/include/avr/legacyio/*.diff
/include/avr/legacyio/*.patch

# /include/avr/io
/include/avr/io/Makefile.in
/include/avr/io/*.diff
/include/avr/io/*.patch

# /include/avr/extraio
/include/avr/io/Makefile.in
/include/avr/io/*.diff
/include/avr/io/*.patch

# /include/compat/
/include/compat/Makefile.in
/include/compat/*.diff
/include/compat/*.patch

# /include/util/
/include/util/Makefile.in
/include/util/*.diff
/include/util/*.patch

# /libc/
/libc/Makefile.in

# /libc/misc/
/libc/misc/Makefile.in

# /libc/pmstring/
/libc/pmstring/Makefile.in

# /libc/stdio/
/libc/stdio/Makefile.in

# /libc/stdlib/
/libc/stdlib/Makefile.in

# /libc/string/
/libc/string/Makefile.in

# /libm/
/libm/Makefile.in

# /libm/fplib/
/libm/fplib/Makefile.in

# /scripts/
/scripts/Makefile.in

# /xml/
/xml/*.pyc
